/*styling for ALL pages*/
html {
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(to bottom, #FFE2DE 0%, #B5C4E8 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

h1 {
  font-size: 2em;
  border-left: solid grey 5px;
  padding-left: 20px;
  margin-top: 2%;
  color: grey;
}

img {
  width: 60%;
  text-align: center;
  margin-left: 20%;
  margin-top: 2%;
}

#home {
  position: fixed;
  text-decoration: none;
  color: white;
  left: 1%;
  bottom: 1%;
}

#home:hover {
  color: #7c66ba;
  cursor: pointer;
}

/* Comparative research */

h2 {
  width: 80%;
  margin: auto;
  font-weight: bold;
  font-size: 25px;
  padding-top: 40px;
  color: #4f398c;
}

.website, #research{
  padding-bottom: 40px;
}

.website p, #research p, ul li {
  width: 60%;
  text-align: left;
  margin: auto;
  padding-top: 30px;
  color: #3d3d3d;
  padding-bottom: 10px;
  line-height: 20px;
}

ul li {
  list-style-type: none;
}

.website a, #research a {
  text-decoration: none;
  color: grey;
  margin-left: 20%;
}

.website a:hover{
  color: #7c66ba;
}

img {
  padding-top: 20px;
  padding-bottom: 5px;
}

.caption {
  color: #795cb5;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  padding: 5px;
}

/*audience*/

#audience h3 {
  margin-left: 20%;
  font-size: 20px;
  border-bottom: solid 1px;
  color: #7a56bc;
  width: 60%;
}

#name {
  margin-left: 20%;
}

#profile {
  width:200px;
  float: left;
  margin-left: 20%;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 8px;
}

#audience ul li {
  padding:8px;
  line-height: 15px;
}

#audience ul li strong {
  color: #7a56bc;
}

#general {
  margin-bottom: 2%;
}

#general h3 {
  margin-left: 20%;
  width: 55%;
}

#general li {
  width: 50%;
}

#general li:last-child {
  line-height: 20px;
}

#audience p{
  width: 80%;
  margin-left: 0%;
  line-height: 20px;
  padding: 0px;
}

/*styling for paper-prototype.html*/
#prototype img {
  width: 40%;
  padding: 10px;
}
