body {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  /*background: linear-gradient(to bottom right, #91A8d0, #f7cac9);*/
  background-image: url(../images/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

header {
  text-align: left;
  position: absolute;
  font-size: 80px;
  font-weight: bold;
  border-left: solid 10px;
  border-color: rgba(255,255,255,0.5);
  padding-left: 15px;
  top: 100px;
}

h2 {
  color: #4c1f66;
  font-size: 30px;
  margin-left: -40px;
  border-bottom: solid #4c1f66 2px;
}


#mySketch {
  position: absolute;
  top: 100px;
  left: 320px;
}

#studios{
  position: absolute;
  top: 400px;
  left: 420px;
}

#project {
  position: absolute;
  top: 400px;
  left: 780px;
}

#studios ul, #project ul {
  padding-top: 20px;
  padding-bottom: 40px;
}

#project ul {
  margin-left: 20px;
}
a {
  text-decoration: none;
  color: white;
  line-height: 22px;
  font-size: 17px;
}

a:hover {
  color: #6079b2;
}
#project a {
  list-style-type: square;
  display:list-item;
}

footer {
  position: fixed;
  bottom: 1%;
  left: 1%;
}
