html{
  font-family: 'Oxygen', sans-serif;
}

body{
  width: 800px;
  margin: auto;
  text-align: left;
}

a {
  text-decoration: none;
}
article {
  margin-top: 10%;
}

#experience, #experience a {
  text-align: center;
}

#experience a {
  background-color: grey;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;

}

footer {
  position: fixed;
  left: 1%;
  bottom: 1%;
}

footer a {
  color: #595959;
}
