* {
  box-sizing: border-box;
}

html {
  color: white;
  font-family: 'Oxygen', sans-serif;
  background: linear-gradient(to bottom, #459ff3, #408fe4, #3c7fd5, #396fc6, #3660b6);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1.6em;
  overflow: hidden;
}

h6 {
  display: none;
}

a {
  text-decoration: none;
  /*general style for all links */
  color: white;
}

ul, ol, li {
  list-style-type: none;
}

/* Display the page when targeted */

.pages:target {
  position: absolute;
  top: 0px;
  display: block;
  animation-name: scrollup;
  animation-duration: 0.5s;
}

.pages {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  /* so background does not show with animation */
  width: 100%;
  background: linear-gradient(to bottom, #459ff3, #408fe4, #3c7fd5, #396fc6, #3660b6);
  text-align: center;
  display: none;
}

.nextIntro {
  font-size: 25px;
  position: fixed;
  bottom: 5%;
  left: 48%;
  text-align: center;
  transition-duration: .5s;
  animation-name: hide, fadeInUp, UpDown;
  animation-duration: 2s, 1s, 3s;
  animation-delay: 0s, 2s, 1s;
  animation-iteration-count: 1, 1, infinite;
}

.nextIntro:hover {
  opacity: 0.5;
}

.nextIntro img {
  margin-top: 10px;
}

.pages p {
  animation-name: hide, delay;
  animation-duration: 0.5s, 2s;
  animation-delay: 0s, 0.5s;
}

#page1 {
  display: block;
  font-size: 50px;
  padding: 400px 0;
  padding-left: 28%;
  animation-name: hide, delay;
  animation-duration: 1s, 1.5s;
  animation-delay: 0s, 1s;
  width: 1400px;
}

#page1 .nextIntro {
  animation-name: hide, fadeInUp, UpDown;
  animation-duration: 3s, 2s, 3s;
  animation-delay: 0s, 3s, 2s;
  animation-iteration-count: 1, 1, infinite;
}

#page2 {
  font-size: 30px;
  text-align: left;
  width: 1400px;
  padding-left: 38%;
  padding-top: 21%;
  line-height: 50px;
}

#page2previous {
  position: fixed;
  top:5%;
  left: 49%;
  transition-duration: .5s;
  animation-name: hide, fadeInUp, UpDown;
  animation-duration: 2s, 1s, 3s;
  animation-delay: 0s, 2s, 1s;
  animation-iteration-count: 1, 1, infinite;
}

#page2previous:hover {
  opacity: 0.5;
}

#page3 {
  padding-top: 24%;
  padding-left: 3%;
  text-align: center;
}

#page3 .previous, #page3 .next {
  animation-name: hide, fadeInUp, UpDown;
  animation-duration: 2s, 1s, 3s;
  animation-delay: 0s, 2s, 1s;
  animation-iteration-count: 1, 1, infinite;
}

#storyname {
  animation-name: fadeIn;
  animation-duration: 2s;
}

#page4 {
  width: 1250px;
  text-align: center;
  padding-left: 37%;
  padding-top: 21%;
  font-size: 35px;
  list-style-type: none;
}

input[type=text] {
  background: none;
  border-style: none;
  border-bottom: solid white 1px;
  color: #b3ecff;
  font-size:35px;
  text-align: center;
}

input[type=text]:focus {
  background: none;
}

#submit, #reset {
  border: solid white 1.5px;
  border-radius: 20px;
  background: none;
  padding: 5px 20px;
  color: white;
  margin-right: 20px;
  margin-top: 40px;
  transition-duration: 0.5s;
  font-size: 25px;
}

#submit:hover, #reset:hover {
  background: white;
  color: #408fe4;
  transition-duration: 0.5s;
  cursor: pointer;
}

#form {
  animation-name: hide, delay;
  animation-duration: 1s, 2s;
  animation-delay: 0s, 1s;
  z-index: 1;
  line-height: 40px;
}

.previous, .next {
  position: fixed;
  left: 50%;
  transition-duration: .5s;
  animation-name: hide, fadeInUp, UpDown;
  animation-duration: 2s, 1s, 3s;
  animation-delay: 0s, 2s, 1s;
  animation-iteration-count: 1, 1, infinite;
  width: 40px;
}

.previous {
  top: 5%;
}

.next {
  bottom: 5%;
}

#submitForm {
  display: none;
  z-index: 3;
}

#box {
  display: none;
  position: absolute;
  top: 10%;
  left: 42%;
  background: #459ff3;
  border: solid white 3px;
  border-radius: 40px;
  width: 900px;
  height: 850px;
  z-index: 2;
  animation-name: delay;
  animation-duration: 1s;
}


#box p:first-child {
  text-align: center;
  font-size: 30px;
  margin-top: 90px;
  margin-bottom: 430px;
}

#box p {
  width: 800px;
  padding-left: 110px;
  padding-top: 70px;
  font-size: 27px;
  margin-bottom: 520px;
  line-height: 40px;
  text-align: left;
}

#boxWords {
  position: absolute;
  width: 400px;
  top: 32%;
  left: 37%;
  z-index: 2;
  line-height: 70px;
  color: #664a14;
}

#userPic {
  position: absolute;
  top: 28%;
  left: 11%;
  z-index: 1;
}

#page5, #page6 {
  font-size: 35px;
  line-height: 60px;
  width: 1640px;
  text-align: center;
  padding-top: 18%;
  padding-left: 16%;
}

.time {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

#page6 {
  text-align: center;
  padding-top: 20%;
}

#close1 {
  font-size: 55px;
  color: white;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 2;
}

#close1:hover {
  opacity: 0.5;
  cursor: pointer;
}

.tips {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 30px;
  width: 900px;
  position: absolute;
  left: 32%;
  bottom: 20%;
  font-size: 25px;
  padding: 20px 50px;
  text-align: left;
  line-height: 40px;
  animation-name: hide, fadeInUp;
  animation-duration: 2s, 1.5s;
  animation-delay: 0s, 2s;
}

.q-button {
  position: absolute;
  top:30%;
  right: 15%;
}

.q-button:hover {
  cursor: pointer;
}

.characterIntro {
  position: fixed;
  left: 19%;
  bottom: -1%;
}

.characterTitle {
  position: absolute;
  left: 13%;
  bottom: 50px;
  width:300px;
  background: rgba(255, 255, 255, 1);
  color: #459ff3;
  font-size: 25px;
  padding: 0px 50px;
  border-radius: 30px;
  text-align: left;
  transition-duration: 1s;
  border: solid rgba(69, 159, 243, 0.5) 2px;
  animation-name: fadeInUp;
  animation-duration: 2s;
}

.name {
  font-size: 35px;
  font-weight: bold;
  text-align: left;
}

.title {
  font-size: 32px;
  line-height: 40px;
}

#about1, #about2, #about3 {
  position: fixed;
  left: 5%;
  bottom: 17%;
  width: 480px;
  background: rgba(255,255,255,0.8);
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  color: #1f51a3;
  font-size: 25px;
  display: none;
  line-height: 30px;

  animation-name: fadeInLeft;
  animation-duration: 1s;
}

#introClose1, #introClose2, #introClose3 {
  position: absolute;
  top:2%;
  right: 2%;
  font-size: 35px;
}

#introClose1:hover, #introClose2:hover, #introClose3:hover {
  cursor: pointer;
}

.msg {
  position: absolute;
  top: 26%;
  left: 53%;
  padding: 30px;
  margin: 0;
  color: #fff;
  background: none;
  border-radius: 25px;
  border: solid white 5px;
  width: 580px;
  text-align: left;
  line-height: 50px;
  font-size: 35px;
}

.msg:before {
  content: "";
  position: absolute;
  z-index: 10;
  bottom: -60px;
  left: 50px;
  width: 50px;
  height: 50px;
  border-style: solid;
  border-width: 0 5px 5px 0;
  background: transparent;
  border-bottom-right-radius: 80px 50px;
}

.reply {
  position: absolute;
  top: 50%;
  right: 20%;
  font-size: 35px;
}

.choices {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  position: absolute;
  top: 58%;
  right: 22%;
  padding: 10px;
  list-style-type: none;
  width: 320px;
  text-align: left;
  font-size: 25px;
  animation-name: fadeInRight;
  animation-duration: 1.5s;
}

.choices li {
  padding: 15px 20px;
  border: solid white 3px;
  margin: 20px;
  border-radius: 20px;
  transition-duration: 0.5s;
}

.choices li:hover{
  transition-duration: 0.5s;
  background-color: white;
}

.choices li a:hover {
  color: #459ff3;
}

#page10 {
  width: 1550px;
  padding-left: 21%;
  padding-top: 14%;
  text-align: center;
  line-height: 55px;
  font-size: 35px;
}

#page10 .tips {
  margin-left: 2%;
}

#page11 {
  padding-top: 15%;
  padding-left: 6%;
  font-size: 30px;
}

#page11 ul {
  width: 500px;
  font-size: 25px;
  border-radius: 30px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.3);
  margin-left: 36.5%;
  animation-name: fadeInUp;
  animation-duration: 1.5s;
}

#page11 p {
    line-height: 25px;
}

#page11 li {
  list-style-type: none;
  border-radius: 30px;
  border: solid white;
  padding: 20px;
  margin-bottom: 20px;
  opacity: 0.5;
}

#page11 li:first-child {
  opacity: 1;
}

#page11 li:first-child:hover {
  background: white;
}

#page11 li a:hover {
  color: #459ff3;
}

#roomView {
  position: absolute;
  top: 95px;
  left: 165px;
}

.roomTip {
  display: none;
  font-size: 25px;
}

#reminder {
  position: absolute;
  bottom: 7%;
  left: 20%;
  font-size: 25px;
  line-height: 40px;
  color: white;
  width: 1200px;
  padding: 30px;
  animation-name: fadeInUp;
  animation-duration: 2s;
}

.objects img:hover {
  position: absolute;
  cursor: pointer;
  filter: drop-shadow(1px 1px 0 Moccasin) drop-shadow(-1px 1px 0 Moccasin) drop-shadow(1px -1px 0 Moccasin) drop-shadow(-1px -1px 0 Moccasin);
}

#breakfast, #photobook, #stickynote, #radio, #yarn, #photo {
  position: absolute;
}

#breakfast {
  left: 1020px;
  top: 580px;
}

#photobook {
  left: 1350px;
  top: 850px;
}

#stickynote {
  left: 1125px;
  top: 425px;
}

#radio {
  left: 715px;
  top: 610px;
}

#yarn {
  left: 520px;
  top: 670px;
}

#photo {
  left: 1350px;
  top: 700px;
}

.roomTip {
  display: block;
  position: absolute;
  top: 350px;
  left: 220px;
  width: 700px;
  height: 220px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #3660b6;
  font-size: 20px;
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

.roomTip p {
  width: 655px;
  margin-right: -70px;
  text-align: left;
  padding-right: 40px;
  padding-left: 320px;
  animation: none;
}

.roomTip img {
  position: absolute;
  bottom: 20px;
  left: 40px;
}

#breakfastTip, #photobookTip, #radioTip, #stickynotesTip, #yarnTip, #photoTip {
  display: none;
}

.close {
  position: absolute;
  top: 1%;
  right: 2%;
  font-size: 35px;
}

.close:hover {
  cursor: pointer;
  opacity: 0.5;
}

#page12 {
  width: 1400px;
  padding-top: 17%;
  padding-left: 27%;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
}

#page12 .tips {
  margin-left: 4%;
}

#page13, #page14, #page16 {
  font-size: 30px;
  width: 1380px;
  padding-left: 34%;
  padding-top: 22%;
  text-align: left;
  line-height: 55px;
}

#page15 {
  padding-left:14%;
  padding-top: 18%;
  width: 1700px;
  font-size: 25px;
  text-align: center;
}

#page16 {
  padding-left: 36%;
  width: 1350px;
  padding-top: 18%;
  line-height: 55px;
}

#stop {
  position: absolute;
  width: 1500px;
  font-size: 35px;
  font-weight: bold;
}

#go-to-about {
  position: fixed;
  border: solid white 5px;
  padding: 10px 40px;
  border-radius: 50px;
  margin-left: 5%;
  margin-top: 8%;
  transition-duration: 0.5s;
  animation-name: hide, fadeInUp;
  animation-duration: 2s, 2s;
  animation-delay: 0s, 2s;
}

#go-to-about:hover {
  background-color: white;
  color: #3660b6;
  transition-duration: 0.5s;
}

/*--------About Page----------*/


#aboutPage article {
  padding: 350px 140px;
  animation-name: fadeIn;
  animation-duration: 1s;
}

#aboutPage p{
  animation-name: fadeIn;
  animation-duration: 1s;
  text-align: left;
}

#aboutPage h1 {
  font-size: 60px;
  margin-bottom: -10px;
  position: absolute;
  top: 21%;
  left: 7%;
}

#aboutIntro, #aboutSolution {
  width: 750px;
  float: left;
  font-size: 20px;
  line-height: 35px;
}

#aboutSolution {
  margin-left: 120px;
  margin-top: -110px;
}

.emphasis {
  font-size: 30px;
  border-top: solid white 3px;
  border-bottom: solid white 3px;
  padding: 20px 30px;
  line-height: 60px;
  font-weight: bold;
  text-align: center;
}

#aboutIntro a, #aboutSolution a {
  color: #b5dcff;
}

#aboutIntro a:hover, #aboutSolution a:hover {
  text-decoration: underline;
  color: white;
  transition-duration: 1s;
}

#aboutPage li {
  margin-left: 20px;
  list-style-type: circle;
  text-align: left;
  animation-name: fadeIn;
  animation-duration: 2s;
}

/*--------Navigation---------*/

#topNav {
  position: fixed;
  top: 2%;
  left: 2%;
  z-index: 2;
  font-size: 25px;
}

#topNav a {
  margin-right: 10px;
  padding-bottom: 2px;
  font-size: 25px;
}

#topNav a:hover {
  border-bottom: solid white 5px;
}

/*------media queries---------*/

@media (max-width: 1635px) {
  .pages p {
    font-size: 17px;
    width: 600px;
    left: 15%;
    top: 1%;
    line-height: 30px;
  }
  #page1 p {
    position: absolute;
    top: 35%;
    font-size: 30px;
    width: 800px;
  }
  .nextIntro img {
    width: 30px;
  }
  .nextIntro a {
    font-size: 15px;
  }
  .characterImg {
    left: 5%;
    width: 500px;
  }
  .characterTitle {
    width: 250px;
  }
  .characterTitle p {
    font-size: 20px;
    line-height: 30px;
  }
  #form, select, #disclaimer {
    font-size: 15px;
    line-height: 20px;
    width: 300px;
  }

  #tell {
    font-size: 25px;
  }

  .msg {
    font-size: 25px;
    border: solid white 5px;
    top: 30%;
    width: 430px;
    line-height: 35px;
  }

  .msg:before {
    border-width: 0 5px 5px 0;
  }

  .reply {
    top: 55%;
    font-size: 25px;
  }
  .choices {
    top: 60%;
    width: 30%;
    padding: 0px;
  }
  .choices li {
    font-size: 20px;
  }
  #box {
    width: 500px;
    height: 500px;
    left: 40%;
  }
  #box img {
    width: 400px;
  }
  #box #boxWords {
    font-size: 15px;
    top: 120px;
    left: 250px;
    line-height: 30px;
    padding: 0;
  }
  #box p {
    width: 440px;
    padding-left: 50px;
    padding-top: 30px;
    font-size: 15px;
    margin-bottom: 250px;
    line-height: 20px;
  }

  .tips {
    width: 700px;
    bottom: 40%;
  }

/*------media query navigation-------*/
  #topNav span, #topNav a, #skip {
    font-size: 60%;
  }
  #topNav a:hover {
    border-bottom: solid white 2px;
  }
}

/*------animations---------*/

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes UpDown {
  0% {
    transform: translate3d(0, 20%, 0);
  }
  25% {
    transform: translate3d(0, 0%, 0);
  }
  50% {
    transform: translate3d(0, 20%, 0);
  }
  75% {
    transform: translate3d(0, 0%, 0);
  }
  100% {
    transform: translate3d(0, 20%, 0);
  }
}

@keyframes delay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*footer styling*/
#start, #pause {
 position: fixed;
 display: inline;
 list-style-type: none;
 bottom: 3%;
 right: 2%;
 opacity: 0.5;
}
#start {
  right: 4%;
}

#start:hover, #pause:hover {
  cursor: pointer;
}

#logo {
  position: fixed;
  top:2%;
  right: 2%;
}
