body {
  font-family: 'EB Garamond', serif;
  color: #93680b;
  background-image: url(../images/studio1-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

/*changes form styles */

article img {
  margin-top: 2%;
}

article {
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 2%;
  margin-right: 5%;
  margin-top: 1%;
}

article h2 {
  font-family: 'EB Garamond', serif;
  color: #93680b;
  font-size: 20px;
  font-weight: bold;
}

form {
  margin-top: -2%;
}

label {
  width: 100px;
  text-align: left;
  padding: 20px;
}

input[type="submit"], [type="reset"] {
  font-family: 'EB Garamond', serif;
  color: #f9edd6;
  text-align: left;
  border: none;
  padding: 10px;
  background-color: #8c6e3a;
  border-radius: 3px;
  border-bottom: #c1b393;
  margin: 20px;
}

input[type="submit"]:hover, [type="reset"]:hover {
  background-color: #f9edd6;
  color: #8c6e3a;
}

input[type="text"] {
  background-color: #fcf4e0;
  color: #776a4a;
  border: solid #d3c5a2 1px;
  border-radius: 3px;
  font-family: 'EB Garamond', serif;
}

div {
  padding: 5px;
}

/*changes result screen styles*/

section h2 {
  display: none;
}

section {
  float: left;
  margin-left: 58%;
  margin-top: -400px;
}

#results {
  font-size: 80%;
  width: 30%;
  font-family: 'EB Garamond', serif;
  line-height: 20px;
  padding: 20px;
}

#opening {
  font-size: 25px;
}

#closing {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 15px;
  line-height: 25px;
}

/*adjusts footer styles*/

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: #eddfc0;
}

footer a {
  text-decoration: none;
  font-family: 'EB Garamond', serif;
  color: #93680b;
  padding-right: 10px;
}

footer a:hover {
  color: white;
}

/*adds border between two links*/

#css {
  border-left: solid #93680b 1px;
  padding-left: 10px;
}
